<div class="container pt-4">
    <form action="/therapist/<%=therapist.id%>/update" method="post">
        <div class="row">
            <div class="form-group col-md-6 px-0">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" maxlength="50" name="name" value="<%=therapist.name%>" />
            </div>
            <div class="form-group col-md-6 px-0 pl-md-4">
                <label class="form-label">Vorname</label>
                <input type="text" class="form-control" maxlength="50" name="firstname" value="<%=therapist.firstname%>" />
            </div>
        </div>
        <div>
            <form action="/worktime/<%=worktime.id%>/update" method="post">
                <table>
                    <tr>
                        <th></th>
                        <th>Montag</th>
                        <th>Dienstag</th>
                        <th>Mittwoch</th>
                        <th>Donnerstag</th>
                        <th>Freitag</th>
                    </tr>
                    <tr>
                        <td>Von</td>
                        <td><input type="time" name="MondayF" ></td>
                        <td><input type="time" name="TuesdayF"></td>
                        <td><input type="time" name="WednesdayF"></td>
                        <td><input type="time" name="ThursdayF"></td>
                        <td><input type="time" name="FridayF"></td>
                    </tr>
                    <tr>
                        <td>Bis</td>
                        <td><input type="time" name="MondayT"></td>
                        <td><input type="time" name="TuesdayT"></td>
                        <td><input type="time" name="WednesdayT"></td>
                        <td><input type="time" name="ThursdayT"></td>
                        <td><input type="time" name="FridayT"></td>
                    </tr>
                </table>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary mt-4 mb-4">Arbeitszeit festlegen</button>
                </div>
            </form>
        
            </div> 
        <div class="row">
            <div class="formgroup">
                <label class="form-label">Fachgebiet</label>
                <select class="form-control" name="specialisation">
                    <% specialisations.forEach(function(specialisation){ %>
                        <% if (specialisation.id==therapist.specialisation.id){%>
                            <option selected value="<%=specialisation.id%>"><%=specialisation.name%></option>
                        <%} else { %>
                            <option value="<%=specialisation.id%>"><%=specialisation.name%></option>
                        <%}%>
                    <%});%>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4 mb-4">Anpassen</button>
    </form>
</div>