<div class="container py-4">
    <div class="card shadow px-4 pt-2">
        <form action="/therapist/<%=therapist.id%>/update" method="post">
            <div class="row">
                <div class="form-group col-md-6 px-0">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" maxlength="50" minlength ="0" name="name" value="<%=therapist.name%>"
                        required />
                </div>
                <div class="form-group col-md-6 px-0 pl-md-4">
                    <label class="form-label">Vorname</label>
                    <input type="text" class="form-control" maxlength="50" minlength ="0" name="firstname" value="<%=therapist.firstname%>" required />
                </div>
            </div>
            <div class="row form-group px-0">
                <label class="form-label">E-Mail</label>
                <input type="email" class="form-control" maxlength="100" minlength ="0" name="emailAddress" value="<%=therapist.user.emailAddress%>" required/>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="form-label">Fachgebiet</label>
                    <select class="form-control" name="specialisation">
                        <% specialisations.forEach(function(specialisation){ %>
                            <% if (specialisation.id==therapist.specialisation.id){%>
                                <option selected value="<%=specialisation.id%>">
                                    <%=specialisation.name%>
                                </option>
                            <%} else { %>
                                <option value="<%=specialisation.id%>">
                                    <%=specialisation.name%>
                                </option>
                            <%}%>
                        <%});%>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-check p-4">
                    <% if (therapist.user.isPracticeAdmin){%>
                        <input checked type="checkbox" value="true" class="form-check-input" name="isAdmin" id="checkAdmin" />
                    <% }else{ %>
                            <input type="checkbox" value="true" class="form-check-input" name="isAdmin" id="checkAdmin" />
                    <%}%>
                    <label class="form-check-label" for="checkAdmin">Ist Praxis-Administrator</label>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary mt-4 mb-4">
                    Anpassen
                </button>
            </div>
        </form>
    </div>
</div>