<div id="edit-profile">
  <account-notification-banner></account-notification-banner>
  <div class="container py-5 px-2">
    <div class="card shadow border-none px-2 pt-2">
      <h1>Persönliche Informationen bearbeiten</h1>
      <div id="app">
        <form action="/patient/update" method="POST">
          <div class="row">
            <div class="form-group px-3 col-md-5">
              <label class="form-label">Vorname</label>
              <input class="form-control" v-model="firstname" name="firstname" type="text" maxlength="50"
                autocomplete="name" @change="validate" required focus-first />
            </div>
            <div class="form-group px-3 pl-md-4 col-md-5">
              <label class="form-label">Name</label>
              <input class="form-control" v-model="name" name="name" type="text" maxlength="50" autocomplete="name"
                @change="validate" required />
            </div>
          </div>
          <div v-if="invalidChars" class="text-center text-danger">
            Name und Vorname dürfen keine Sonderzeichen oder Zahlen enthalten!
          </div>
          <div class="row">
            <div class="form-group col-md-10 px-3">
              <label for="email-address">Email Adresse</label>
              <input class="form-control" id="email-address" name="emailAddress" type="email" autocomplete="email"
                value="<%= req.me.emailAddress %>" @change="validate" required />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-10 px-3">
              <label for="email-address">Geburtstdatum</label>
              <input class="form-control" name="dob" type="date"
                value="<%= new Date(patient.dob.getTime() +2*60*60*1000).toISOString().substring(0,10) %>"
                min="1900-01-01" max="2023-01-01" @change="validate" required />
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 text-right pr-3">
              <a class="btn btn-outline-danger mb-2" href="/patient/show">Abbruch</a>
              <button type="submit" class="btn btn-dark mb-2 ml-2" :disabled="disabled">
                Änderungen speichern
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  const app = Vue.createApp({
    data: function () {
      return {
        name: "<%= patient.name %>",
        firstname: "<%= patient.firstname %>",
        invalidChars: false,
        disabled: true,
      };
    },
    methods: {
      validate: function () {

        let lettersOnly = /^[a-zA-ZäöüÄÖÜß]*$/;
        this.invalidChars = !(
          lettersOnly.test(this.name) && lettersOnly.test(this.firstname)
        );
        if (!this.invalidChars) {
          this.disabled = false;
        } else {
          this.disabled = true;
        }
      },
    },
  });
  app.mount("#app");
</script>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>