<div class="container pt-md-4 pb-4">
    <div class="card row p-2">
        <h2 class="card-title">Praxisdaten</h2>
        <div class="card-body">
            <table>
                <tr>
                    <td class="pb-2 align-text-top col-3"><b>Praxis-Name:</b></td>
                    <td class="text-wrap align-text-top col-9"><%=practice.name %></td>
                </tr>
                <tr>
                    <td class="pb-2 align-text-top col-3"><b>Straße und Hausnummer: </b></td>
                    <td class="text-wrap align-text-top col-9"><%=practice.street %> <%=practice.streetnumber %></td>
                </tr>
                <tr>
                    <td class="pb-2 align-text-top col-md-3"><b>PLZ und Ort:</b></td>
                    <td class="text-wrap align-text-top col-md-9"><%=practice.zip %> <%=practice.city %></td> 
                </tr>
            </table>
        </div>
        <div>
            <h3 class="">Beschreibung</h3>
            <details class="display-md-none">
                <summary>Anzeigen</summary>
                <p><%=practice.description%></p>
            </details>
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-primary m-2" href="/practice/<%=practice.id%>/edit">Anpassen</a>
        </div>
    </div>
    <div class="card row p-2">
        <h2 class="card-title">Therapeuten</h2>
        <div class="card-body table-responsive">
            <% if (therapists != undefined && practice.therapists.length > 0){ %>
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Vorname</th>
                    <th>Fachgebiet</th>
                    <th>Wochenarbeitszeit</th>
                    <th></th>
                </thead>
                <tbody>
                    <%therapists.forEach(function(therapist){ %>
                        <tr>
                            <td><%=therapist.name %></td>
                            <td><%=therapist.firstname %></td>
                            <td><%=therapist.specialisation.name %></td>
                            <td><%=therapist.Monday1%></td>
                            <td>
                                <a class="btn btn-primary tbl-btn" href="/therapist/<%=therapist.id%>/edit">Anpassen</a>
                                <a class="btn btn-danger tbl-btn" href="/therapist/<%=therapist.id%>/destroy">Löschen</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
                
            </table>
            <% } %> 
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-primary mt-2" href="/practice/<%=practice.id%>/addtherapist">Therapeut hinzufügen</a>
        </div>
    </div>
    <div class="row justify-content-end">
        <a class="btn btn-danger mt-3" href="/practice/<%=practice.id%>/destroy">Praxis löschen</a>
    </div>
</div>