<div class="container pt-4 pb-4 px-4  ">
    <div class="card row p-2 mb-3  shadow ">
        <h2 class="card-title px-3">Praxisdaten</h2>
        <div class="card-body table-responsive">
                <table class="table">
                    <tr>
                        <td class="pb-2 align-text-top col-3"><b>Praxis-Name:</b></td>
                        <td class="text-wrap align-text-top col-9">
                            <%=practice.name %>
                        </td>
                    </tr>
                    <tr>
                        <td class="pb-2 align-text-top col-3"><b>Straße und Hausnummer: </b></td>
                        <td class="text-wrap align-text-top col-9">
                            <%=practice.street %>
                                <%=practice.streetnumber %>
                        </td>
                    </tr>
                    <tr>
                        <td class="pb-2 align-text-top col-md-3"><b>PLZ und Ort:</b></td>
                        <td class="text-wrap align-text-top col-md-9">
                            <%=practice.zip %>
                                <%=practice.city %>
                        </td>
                    </tr>
                </table>
            </div>
        <div class=" px-3 py-4 ">
            <h3>Beschreibung</h3>
            <div class="d-none d-md-flex">
                <%=practice.description%>
            </div>
            <details class="d-md-none">
                <summary>Anzeigen</summary>
                <p>
                    <%=practice.description%>
                </p>
            </details>
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-primary m-2" href="/practice/<%=practice.id%>/edit">Anpassen</a>
        </div>
    </div>
    <div class="card row p-2 shadow">
        <h3 class="card-title">Therapeuten</h3>
        <div class="card-body table-responsive">
            <% if (therapists !=undefined && practice.therapists.length> 0){ %>
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Vorname</th>
                        <th>Fachgebiet</th>
                        <th>Wochenarbeitszeit</th>
                        <th>Admin</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <%therapists.forEach(function(therapist){ %>
                            <tr>
                                <td>
                                    <%=therapist.name %>
                                </td>
                                <td>
                                    <%=therapist.firstname %>
                                </td>
                                <td>
                                    <%=therapist.specialisation.name %>
                                </td>
                                <%let workhours=0%>
                                <%if (therapist.worktimes !==undefined){%>
                                    <%therapist.worktimes.forEach(function(worktime){%>
                                        <%workhours +=((new Date("1970-01-01T" + worktime.till) - new Date("1970-01-01T" + worktime.from))/3600000)%>
                                    <%})%>
                                <%}%>
                                <td>
                                    <%=workhours.toFixed(1)%> h
                                </td>
                                <%if (therapist.isAdmin){%>
                                    <td class="text-center">✅</td>
                                <%}else{%>
                                    <td></td>
                                <%}%>
                                <td class="text-center">
                                    <a class="btn btn-primary tbl-btn mb-1" href="/therapist/<%=therapist.id%>/edit">Anpassen</a>
                                    <a class="btn btn-primary tbl-btn mb-1" href="/therapist/<%=therapist.id%>/worktimes">Arbeitszeiten</a>
                                    <a class="btn btn-danger tbl-btn mb-1" href="#" onclick="confirmDelete('/therapist/<%=therapist.id%>/destroy')">Löschen</a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <% } %>
        </div>
        <div class="row justify-content-center">         
            <a class="btn btn-primary mt-3" href="/practice/<%=practice.id%>/addtherapist">Therapeut hinzufügen</a>      
        </div>
    </div>
    <div class="row justify-content-end">
        <a class="btn btn-danger mt-2" href="#"
            onclick="confirmDeletePractice('/practice/<%=practice.id%>/destroy')">Praxis löschen</a>
    </div>
</div>
<script>
    function confirmDeletePractice(url) {
        if (window.confirm("Sind Sie sicher, dass Sie diese Praxis endgültig löschen möchten?")) {
            window.location.href = url;
        }
    }
        
    function confirmDelete(url) {
        if (confirm("Sind Sie sicher, dass Sie diesen endgültig Therapeuten löschen möchten?")) {
                window.location.href = url;
        }
    }
</script>