<div class="container py-4">
  <div id="app" class="card shadow px-4 pt-2">
    <form action="/practice/<%=practice.id%>/update" method="post">
      <div>
        <div class="form-group row px-2">
          <label class="form-label">Praxis-Name</label>
          <input type="text" v-model="name" class="form-control" maxlength="50" minlength="0" name="name" @input="validate" required />
        </div>
        <div v-if="invalidCharsName" class="text-center text-danger">
          Der Praxisname darf nur Buchstaben,"-" und "." enthalten!
        </div>
        <div class="row">
          <div class="form-group col-md-8 px-2">
            <label class="form-label">Straße</label>
            <input type="text" v-model="street" class="form-control" maxlength="50" minlength="0" name="street" @input="validate" required />
          </div>
          <div class="form-group col-md-4 px-2 pl-md-4">
            <label class="form-label">Hausnummer</label>
            <input type="text" class="form-control" maxlength="10" minlength="0" name="streetnumber" value="<%=practice.streetnumber%>" @input="validate" required />
          </div>
        </div>
        <div v-if="invalidCharsStreet" class="text-center text-danger">
          Die Straße darf nur Buchstaben,"-" und "." enthalten!
        </div>
        <div class="row">
          <div class="form-group col-md-6 px-2">
            <label class="form-label">PLZ</label>
            <input type="text" class="form-control" pattern="[0-9]{5}" name="zip" value="<%=practice.zip%>" @input="validate" required />
          </div>
          <div class="form-group col-md-6 px-2 pl-md-4">
            <label class="form-label">Ort</label>
            <input type="text" v-model="city" class="form-control" maxlength="50" minlength="0" name="city" @input="validate" required />
          </div>
        </div>
        <div v-if="invalidCharsCity" class="text-center text-danger">
          Der Ort darf nur Buchstaben,"-" und "." enthalten!
        </div>
        <div class="row">
          <div class="form-group px-2 w-100">
            <label class="form-label">Beschreibung</label>
            <textarea class="form-control" id="descriptionEdit" rows="5" name="description">
                            <%=practice.description%>
                        </textarea>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary mt-4 mb-4" :disabled="disabled">
          Anpassen
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  const app = Vue.createApp({
    data: function() {
      return {
        name: "<%=practice.name%>",
        city: "<%=practice.city%>",
        street: "<%=practice.street%>",
        invalidCharsCity: false,
        invalidCharsName: false,
        invalidCharsStreet: false,
        disabled: true,
      };
    },
    methods: {
      validate: function() {

        let lettersAndValidCharsOnly = /^[a-zA-ZäöüÄÖÜß\.\-]*$/;
        this.invalidCharsCity = !(
          lettersAndValidCharsOnly.test(this.city)
        );
        this.invalidCharsName = !(
          lettersAndValidCharsOnly.test(this.name)
        );
        this.invalidCharsStreet = !(
          lettersAndValidCharsOnly.test(this.street)
        );
        if (!this.invalidCharsCity && !this.invalidCharsName && !this.invalidCharsStreet) {
          this.disabled = false;
        } else {
          this.disabled = true;
        }
      },
    },
  });
  app.mount("#app");
</script>