<div class="container pt-4">
    <form action="/practice/<%=practice.id%>/update" method="post">
        <div>
            <div class="form-group">
                <label class="form-label">Praxis-Name</label>
                <input type="text" class="form-control" maxlength="50" name="name" value="<%=practice.name%>" />
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="form-label">Straße</label>
                    <input type="text" class="form-control" maxlength="50" name="street" value="<%=practice.street%>" />
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label">Hausnummer</label>
                    <input type="text" class="form-control" maxlength="10" name="streetnumber" value="<%=practice.streetnumber%>" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-label">PLZ</label>
                    <input type="text" class="form-control" maxlength="10" name="zip" value="<%=practice.zip%>" />
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Ort</label>
                    <input type="text" class="form-control" maxlength="50" name="city" value="<%=practice.city%>" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4 mb-4">Anpassen</button>
    </form>
</div>