<script>
</script>
<div class="container py-4 px-4">
  <div class="row w-100">
    <div class="card col-12 px-0 mx-0 ">
      <h2 class="card-title px-2"><%=practice.name%></h2>
      <div class="card-header px-2">
        <h3>Beschreibung</h3>
        <div class="d-none d-md-flex"><%=practice.description%></div>
        <div class="d-md-none">
          <details>
            <summary>Anzeigen</summary>
            <p><%=practice.description%></p>
          </details>
        </div>
      </div>
      <div class="card-body table-responsive px-2">
        <h3>Termine</h3>
        <!--Vue App-->
        <div id="app">
          <router-view></router-view>
        </div>
        <script type="module">
          import practiceCalendar from '/vue/PracticeCalendar.js'

          const routes = [
            {path: '/', component: practiceCalendar, props: {practiceId: "<%= practice.id %>"}},
            {path:'createAppointment', component: appointmentForm}
          ]

          const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes: routes, 
          })
          const app = Vue.createApp({})
          app.use(router).mount("#app")
        </script>
        <!--Vue Ende-->
      </div>
      <div class="card-footer px-2">
        <address>
          <strong>
            <%=practice.name%>
          </strong><br />
          <%=practice.street%>
          <%=practice.streetnumber%><br />
          <%=practice.zip%>
          <%=practice.city%>
        </address>
      </div>
    </div>
  </div>
</div>