<div class="container py-4 px-4">
  <div class="row">
    <div class="card row px-0 mx-0 ">
      <h2 class="card-title px-2"><%=practice.name%></h2>
      <div class="card-header px-2">
        <h3>Beschreibung</h3>
        <div class="d-none d-md-flex"><%=practice.description%></div>
        <div class="d-md-none">
          <details>
            <summary>Anzeigen</summary>
            <p><%=practice.description%></p>
          </details>
        </div>
      </div>
      <div class="card-body table-responsive px-2">
        <h3>Therapeuten</h3>
        <!--Vue App-->
        <div id="app">
          <table class="table">
            <tr>
              <th>Therapeut</th>
              <th>Fachgebiet</th>
              <th v-for="time in times" v-bind:value="time">{{time.toTimeString().slice(0,5)}}</th>
            </tr>
            <tr v-for="therapist in therapists" v-bind:value="therapist">
              <td>{{therapist.user.firstname}} {{therapist.user.name}}</td>
              <td>{{therapist.specialisation.name}}</td>
              <td v-for="time in times" v-bind:value="time"></td>
            </tr>
          </table>
        </div>
        <script>
          const {createApp} = Vue

          createApp({
            data: () => {
              return{
                therapists: [], 
                times: []
              }
            },
            methods: {
                
            },
            created() {
                let url = new URL(origin + '/practice/<%=practice.id%>/therapists');
                fetch(url)
                    .then(res => res.json())
                    .then(data => this.therapists = data)
                
                for (let i = (3600000*8); i < (3600000*20); i+=(1800000)){
                  this.times.push(new Date(i));
                }
            }
          }).mount("#app")

        </script>
        <!--Vue Ende-->
      </div>
      <div class="card-footer px-2">
        <address>
          <strong><%=practice.name%></strong><br />
          <%=practice.street%> <%=practice.streetnumber%><br />
          <%=practice.zip%> <%=practice.city%>
        </address>
      </div>
    </div>
  </div>
</div>
